{% extends "base.html" %}

{% block page_title %}
  {{ _('Settings') }}
{% endblock %}
{% block body_id %}edit-profile{% endblock %}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}
  {% if not forms_valid %}
    <div class="alert alert-error">
      {{ _('Please correct the errors below.') }}
    </div>
  {% endif %}

  {% if profile.is_complete %}
    {# This is the full profile form for those who have completed registration. #}
    <div class="row">

      <div class="col-md-12">
        <div class="tab-content">
          <!-- Profile Tab -->
          {% include 'phonebook/includes/profile_edit_basic.html' %}
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}

{% block page_js %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {% compress js %}
    <script src="{{ static('mozillians/js/libs/URI.js') }}"></script>
    <script src="{{ static('mozillians/js/libs/tag-it/js/tag-it.js') }}"></script>
    <script src="{{ static('mozillians/js/profile_edit.js') }}"></script>
  {% endcompress %}
  {{ autocomplete_form_media }}
{% endblock %}
