{% extends "base.html" %}

{% block page_title %}{{ _('Mozilla Community Directory') }}{% endblock %}
{% block body_id %}home{% endblock %}

{% block mosaic %}
{% if not user.is_authenticated() %}
  {% include 'phonebook/includes/mosaic.html' %}
{% endif %}
{% endblock mosaic %}

{% block search %}
  {# Don't display search in navbar on home.html #}
{% endblock %}

{% block content %}
  {% if not user.is_authenticated() %}
    <div id="main-feature">
      <h1><img id="mozillians-logo" src="{{ static('mozillians/img/mozillians-logo.png') }}" alt="Mozillians"></h1>

      {% if show_start %}
        <div id="start">
          <p>{{ _('Create your account now to connect with fellow Mozillians.') }}</p>
          <p class="cta">
            <a href="#" class="button" role="button">{{ _('Get started') }}</a>
          </p>
        </div>
      {% endif %}

      <hr>
    </div>

    <article id="information">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <section id="quote">
                <span>
                  <img alt="Mitchell Baker, Chair of the Mozilla Foundation"
                       src="{{ static('mozillians/img/homequote-mitchell-baker.png') }}">
                </span>
                <blockquote>
                  <p>
                    It’s an exciting time for Mozilla and the Web. Another
                    two billion people will join the Internet community in
                    the coming years.
                  </p>
                  <small>Mitchell Baker</small>
                </blockquote>
            </section>
          </div>

          <div class="col-md-8">
            <section id="about">
                <h2>{{ _('Welcome to the Mozilla community directory') }}</h2>
                <p>
                  This site lists all vouched individuals that
                  participated in the Mozilla Project while this site was active.
                </p>
            </section>
          </div>

          <div class="col-md-2">
            <section id="mozfacts">
              {% set fact=random_funfact() %}
              {% if fact %}
                {% set number=fact.execute() %}
                {% if number %}
                  <h2>{{ number }}</h2>
                {% endif %}
                <p>
                  {{ fact.public_text|markdown }}
                </p>
              {% else %}
                <h2>3000+</h2>
                <p>
                  {% trans %}
                    Passionate Mozillians you can meet for work, play or a
                    cup of coffee.
                  {% endtrans %}
                </p>
              {% endif %}
            </section>
          </div>
        </div>
      </div>
    </article>

  {% else %}

    {# This is where the logged in homepage view starts. #}
    <article class="search-info search-top">
      <h1>{{ _('Hello!') }}</h1>
    </article>
    <div class="row">
      <div class="col-md-3">
        <article id="profile-info">
          <a class="profile-photo" href="{{ url('phonebook:profile_view', user.username) }}">
            <img src="{{ user.userprofile.get_photo_url('150x150') }}" alt="{{ user.username }}">
          </a>
          <div class="profile-details">
            <h2>{{ user.username }}</h2>
            {{ user.userprofile.email }}
            {% with profile = user.userprofile %}
            {% if profile.country or profile.region or profile.city %}
              <section class="location">
                {% include 'phonebook/includes/profile_location.html' %}
              </section>
            {% endif %}
            {% endwith %}
            {% if user.userprofile.languages.exists() %}
              <section class="languages">
                <h4>{{ _('Languages') }}</h4>
                {% for language in user.userprofile.languages %}
                  {{ langcode_to_name(language.code) }}
                  {%- if not loop.last -%},{% endif %}
                {% endfor %}
              </section>
            {% endif %}
           </div>
        </article>
      </div>
      <div class="col-md-9">
        <article class="search-info search-right">
          <h1>{{ _('Hello!') }}</h1>
        </article>
        <article id="content-info">
          <section class="announcements-mozfacts">
            {% set announcement=latest_announcement() %}
            {% if announcement %}
              {% if announcement.image %}
                <img src="{{ thumbnail(announcement.image, '60x60').url }}">
              {% endif %}
              <h2>{{ announcement.title }}</h2>
              <p> {{ announcement.get_template_text() }} </p>
            {% else %}
              {% set fact=random_funfact() %}
              {% if fact %}
                {% set number=fact.execute() %}
                {% if number %}
                  <h2>{{ number }}</h2>
                {% endif %}
                <p>{{ fact.public_text|markdown }}</p>
              {% endif %}
            {% endif %}
          </section>
          <div class="row">
            <div class="col-md-6">
              <section class="functional-areas">
                <span class="icon">
                  <img src="{{ static('mozillians/img/homepage-funcareas.jpg') }}" alt="Functional areas">
                </span>
                <h2>{{ _('Functional areas') }}</h2>
                {% trans %}
                  <p>
                    View Mozillians, Stewards and information for any
                    functional area. Find out who works on what and how you
                    can help out.
                  </p>
                {% endtrans %}
              </section>
            </div>
          </div>
        </article>
      </div>
    </div>
  {% endif %}

{% endblock content %}

{% block page_js %}
  {% compress js %}
    <script src="{{ static('mozillians/js/libs/modernizr.custom.26887.js') }}"></script>
    <script src="{{ static('mozillians/js/libs/jquery.transit.js') }}"></script>
    <script src="{{ static('mozillians/js/libs/jquery.gridrotator.js') }}"></script>
    <script src="{{ static('mozillians/js/libs/jquery.smooth-scroll.min.js') }}"></script>
    <script src="{{ static('mozillians/js/homepage.js') }}"></script>
  {% endcompress %}
{% endblock %}
