{% extends "base.html" %}

{% block page_title %}{{ _('Mozilla Community Directory') }}{% endblock %}
{% block body_id %}home{% endblock %}

{% block mosaic %}
{% if not user.is_authenticated %}
  {% include 'phonebook/includes/mosaic.html' %}
{% endif %}
{% endblock mosaic %}

{% block search %}
  {# Don't display search in navbar on home.html #}
{% endblock %}

{% block content %}
    <div id="main-feature">
      <h1>Vouched <img id="mozillians-logo" src="{{ static('mozillians/img/mozillians-logo.png') }}" alt="Mozillians"> Archive</h1>
    </div>

    <article id="information">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <section id="quote">
                <span>
                  <img alt="Mitchell Baker, Chair of the Mozilla Foundation"
                       src="{{ static('mozillians/img/homequote-mitchell-baker.png') }}">
                </span>
                <blockquote>
                  <p>
                    It’s an exciting time for Mozilla and the Web. Another
                    two billion people will join the Internet community in
                    the coming years.
                  </p>
                  <small>Mitchell Baker</small>
                </blockquote>
            </section>
          </div>

          <div class="col-md-8">
            <section id="about">
                <h2>Welcome to the archived Mozilla community directory</h2>
                <p>
                  This site lists all vouched individuals that
                  participated in the Mozilla Project while this site was active.
                </p>
            </section>
          </div>

          <div class="col-md-2">
            <section id="mozfacts">
                <h2>7000+</h2>
                <p>
                  Mozillians with archived vouches.
                </p>
            </section>
          </div>
        </div>
      </div>
    </article>

{% endblock content %}

{% block page_js %}
  {% compress js %}
    <script src="{{ static('mozillians/js/libs/modernizr.custom.26887.js') }}"></script>
    <script src="{{ static('mozillians/js/libs/jquery.transit.js') }}"></script>
    <script src="{{ static('mozillians/js/libs/jquery.gridrotator.js') }}"></script>
    <script src="{{ static('mozillians/js/libs/jquery.smooth-scroll.min.js') }}"></script>
    <script src="{{ static('mozillians/js/homepage.js') }}"></script>
  {% endcompress %}
{% endblock %}
